/* Основен стил за логото */
#logo-img {
    max-width: 100%; /* Логото няма да надвишава контейнера си */
    height: auto; /* Запазва пропорциите */
    width: 60px; /* Стандартен размер за настолни устройства */
    margin-right: 20px;
}

/* Media queries за различни устройства */
@media (max-width: 768px) { /* Таблети и малки екрани */
    #logo-img {
        width: 50px; /* Намалява размера на логото на по-малки екрани */
    }
}

@media (max-width: 480px) { /* Мобилни телефони */
    #logo-img {
        width: 40px; /* Още по-малък размер за мобилни устройства */
    }
}